.login-form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}

.login-form input {
  width: 500px;
  margin-bottom: 12px;
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
}

.login-form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}
